*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EDEDED;
    display: flex;
}

::-webkit-scrollbar {
    width: 15px;
   
  }

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.548); 
    border-radius: 10px;
  }


nav{
    width: auto;
    background-color: #E10600;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

.userInfo{
    text-align: center;
   

    
}
.userInfo .fa-user{
    margin-bottom: 1rem;
}
.userInfo p{
    margin-top: -1px;
    margin-bottom: 1rem;
    color: whitesmoke;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px black;
}


nav span{
    color: whitesmoke;
    font-size: 2.7rem;
    
}

nav .fa-user{
    margin: 1rem 0 0  0;
  
}
nav .fa-sign-out-alt{
    margin-top: .3rem;

}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}



.box{
    text-decoration: none;
    font-size: 1.4rem;
    background-color: whitesmoke;
    color: black;
    margin: .8rem ;
    width: 15rem;
    padding: .1rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    border-radius: 20px;
}


.box:hover{
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.616) ;
}

.nonebox{
    display: none;
    
}

.exit .fas{
    color: whitesmoke;
    cursor: pointer;
}

.fa-sign-out-alt:hover{
    color: rgba(245, 245, 245, 0.493);
}

section{
    display: flex;
    flex-direction: column;

    width: 100%;
    
    
   

}
section h1, p{
    text-align: center;
    width: 100%;
    margin-top: 5rem;
    
}

